---
import Card from "./ReactProject/Card";
import Navbar from "./ReactProject/Navbar";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vg Enterprises</title>
  </head>

  <body>

    <!-- <Card client:load/> -->
     <Navbar client:load/>

  </body>
</html>
