---
import Categories from "../ReactProject/Categories";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keerai World</title>
  </head>

  <body>
    
    </section>

    <Categories client:load/>

  </body>
</html>
