.circular-text {
  position:fixed;
  margin: 0 ;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  font-weight: bold;
  color: #00945A;
  font-weight: 400; 
  text-align: center;
  cursor: pointer;
  top: 80vh; 
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  z-index: 9999;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 24px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
/* Mobile phones */
@media (max-width: 480px) {
  .circular-text {
    width: 70px;
    height: 70px;
    top: 82vh;
   margin-left: 2vh;
  }

  .circular-text span {
    font-size: 12px;
  }
}

/* Tablets & iPad Pro */
@media (min-width: 481px) and (max-width: 1024px) {
  .circular-text {
    width: 110px;
    height: 110px;
    top: 78vh;
  }

  .circular-text span {
    font-size: 20px;
  }
}
