---

import TextScroller from '@/components/HomePage/TextScroller';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Cate from '../components/HomePage/Cate.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/HomePage/Hero.astro';
import OurStore from '@/components/HomePage/OurStore.astro';
import StickyScroll from '@/components/HomePage/StickyScroll';
import BlobCta from '@/components/HomePage/BlobCta';
import Whatapps from '@/components/ReactProject/Whatapps';
import TextMarque from '@/components/HomePage/TextMarque';
import Circular from '@/components/Circular';
import HeroCarousel from '@/components/HomePage/HeroCarousel';
import TestCode from '@/components/ReactProject/TestCode';
import Product from '@/components/HomePage/Product';
import ZigZagImage from '@/components/HomePage/ZigZagImage';
import Perchase from '@/components/HomePage/Perchase';
import TestimonialProject from '@/components/HomePage/TestimonialProject';
import HorizondalProduct from '@/components/HomePage/HorizondalProduct';
import AboutTimeline from '@/components/HomePage/AboutTimeLine';
import LineTest from '@/components/Menu/LineTest';
import ProductDetail from '@/components/Product/ProductDetail';
import AboutTimelineMobile from '@/components/HomePage/AboutTimelineMobile';
import TestTimeline from '@/components/HomePage/TestTimeline';
import TestTime from '@/components/HomePage/TestTime';
import AboutTimeLinePart from '@/components/HomePage/AboutTimeLinePart';
import FooterImage from '@/components/HomePage/FooterImage';
import AboutTimelineMobilepart from '@/components/HomePage/AboutTimelineMobilepart';
import ZigZagImagepart from '@/components/HomePage/ZigZagImagepart';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<Whatapps client:load/>
	<Hero />
	<HeroCarousel client:load/>
	<Circular client:load/>
	<TextMarque client:load/>
	<TextScroller client:load/>
	<Cate />
	<Product client:load />
	<HorizondalProduct client:load/>
	<Perchase client:load/>
	<OurStore />
	<AboutTimeline client:load/>
	<AboutTimelineMobile client:load/>
	<ZigZagImagepart client:load/> 
	<AboutTimelineMobilepart client:load/>
	 <ZigZagImage client:load/> 
	<AboutTimeLinePart client:load/>
	<StickyScroll client:load/>
	<ProductDetail client:load/>
	<TestimonialProject client:load/>
	<BlobCta client:load/> 
	<Footer />

</div>

	

</Layout>
