---
import FooterImage from "./HomePage/FooterImage";
import AnimatedFooter from "./ReactProject/AnimatedFooter";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vg Enterprises</title>
  </head>

  <body>
 
 <div class="relative w-full overflow-hidden">
   <FooterImage client:load/>
  <AnimatedFooter client:load/>

</div>

  </body>
</html>
